<% layout("layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>
        <body>
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title*</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description*</label>
                    <textarea name="listing[description]" placeholder="Describe it well" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image*</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="category mb-3 ">
                    <label style="font-size: 1rem;" for="category" class="form-label">Add Category (Select atleast one)*</label>

                    <div>
                        <input type="checkbox" class="btn-check" id="Rooms" name="listing[category][]" value="Rooms" checked autocomplete="off">
                        <label class="btn btn-outline-primary" for="Rooms">Rooms</label>
                        <input type="checkbox" class="btn-check" id="Iconic cities" name="listing[category][]" value="Iconic cities" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Iconic cities">Iconic cities</label>
                        <input type="checkbox" class="btn-check" id="Mountains" name="listing[category][]" value="Mountains" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Mountains">Mountains</label>
                        <input type="checkbox" class="btn-check" id="Castles" name="listing[category][]" value="Castles" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Castles">Castles</label>
                        <input type="checkbox" class="btn-check" id="Amazing Pools" name="listing[category][]" value="Amazing Pools" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Amazing Pools">Amazing Pools</label>
                        <input type="checkbox" class="btn-check" id="Camping" name="listing[category][]" value="Camping" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Camping">Camping</label>
                        <input type="checkbox" class="btn-check" id="Farms" name="listing[category][]" value="Farms" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Farms">Farms</label>
                        <input type="checkbox" class="btn-check" id="Arctic" name="listing[category][]" value="Arctic" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Arctic">Arctic</label>
                        <input type="checkbox" class="btn-check" id="Boats" name="listing[category][]" value="Boats" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Boats">Boats</label>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price*</label>
                        <input name="listing[price]" placeholder="e.g. 1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country*</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location*</label>
                    <input name="listing[location]" placeholder="e.g. Jaipur, Rajasthan" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <div class="mb-3 form-check form-switch d-flex">
                    <label for="instantBooking" class="form-check-label">Enable Instant Booking?*</label>
                    <input class="form-check-input ms-4 mt-2" type="checkbox" role="switch" name="listing[instantBooking]" id="instantBooking">
                </div>
                
                <button class="btn btn-dark add-btn mt-3">Add</button>
                
            </form>
        </body>
    </div>
</div>