body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Login and Signup */
.loginBtn {
    background-color: #001F5B !important;
}

.loginBtn:hover {
    background-color: #002775e1 !important;
    color: #FF9800 !important;
    border: 1px solid #FF9800 !important;
}

.signupBtn {
    background-color: #001F5B !important;
}

.signupBtn:hover {
    background-color: #002775e1 !important;
    color: #FF9800 !important;
    border: 1px solid #FF9800 !important;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: rgba(245, 245, 245, 0.7);
}

.nav-link {
    color: #222222 !important;
}

.dropdown-toggle {
    background-color: white !important;
    color: #222222 !important;
    border: none !important;
    opacity: 0.7;
}

.dropdown-toggle:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.dropdown-menu {
    background-color: #F5F5F5 !important;
}

.dropdown-menu li :hover {
    background-color: #C6C6C6;
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* Categories */
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.selectedCategory {
    opacity: 1;
    font-weight: 800;
    border-bottom: 2px solid black;
}

.filter p {
    font-size: 0.8rem;
}

.filter a {
    text-decoration: none;
    color: #222222;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 0.75rem;
    display: flex;
    align-items: center;
}


/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem; 
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card category badge */
.listing-card .badge {
    position: absolute; 
    right: 0.5rem; 
    bottom: 3.5rem;
    color: #222222;
    background-color: #E0F7FA !important;
}


/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: #FF9800 !important;
    border: none !important;
}

.category {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.category label {
    font-size: 0.8rem;
    margin: 1rem 1rem 0 0;
}

/* Edit Page */
.edit-btn {
    background-color: #FF9800 !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.bookAndWishBtnsContainer {
    display: flex;
}


.bookBtn {
    color: white !important;
    background-color: #001F5B !important;
    margin-right: 1rem;
    border: 1px solid #001F5B !important;
}

.bookBtn:hover {
    background-color: #002775e1 !important;
    border: 1px solid #FF9800 !important;
}

.addToWishlistBtn {
    background-color: white  !important;
    color: #001F5B !important;
    border: 1px solid #001F5B !important;
}

.addToWishlistBtn:hover {
    color: white !important;
    background-color: #001F5B !important;
    border: 1px solid #FF9800 !important;
}

.removeFromWishlistBtn {
    background-color: #FF9800 !important;
    color: white !important;
    border: 1px solid #FF9800 !important;
}

.removeFromWishlistBtn:hover {
    color: white !important;
    background-color: #001F5B !important;
}

/* Map */
#map {
    height: 400px;
    width: 80vh;
}